html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start */
:root {
  --primary: rgb(50, 120, 210);
  --secondary: rgb(139, 125, 135);
  --success: rgb(50, 190, 100);
  --danger: rgb(198, 16, 63);
  --info: rgb(117, 152, 193);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: rgb(68, 68, 68);
  font-size: 1.3125rem;
  line-height: 1.6;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0;
  font-weight: 800;
  line-height: 1.5;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}

input {
  width: 75%;
  display: block;
  margin: 15px auto;
}

img {
  width: 130px;
}

.button {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
}

.button:hover {
  opacity: 0.8;
}

.button + .button {
  margin-left: 10px;
}

#addBookButton,
#submitButton {
  display: inline;
  background-color: var(--primary);
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}

.book-card {
  padding-top: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
}

.book-card:hover {
  box-shadow: 0 8px 14px 0 rgba(255, 255, 255, 0.2);
}

.read-button,
.not-read-button:hover {
  background-color: var(--success);
}

.not-read-button,
.read-button:hover {
  background-color: var(--secondary);
}

.deleteButton {
  background-color: var(--danger);
}
