body {
  background-color: rgb(46, 46, 46);
}

h1 {
  color: white;
  margin: 2rem;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}

input {
  width: 50%;
  display: block;
  margin: 15px auto;
}

img {
  width: 100px;
}

.button,
#submitButton {
  display: inline;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  padding: 1rem;
  background-color: #009579;
  border: none;
  border-radius: 4px;
  margin: 1rem;
  overflow: hidden;
  font-family: "Quicksand", Times, serif;
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
}

.button:hover {
  background-color: #008168;
}

.button:active {
  background-color: #005544;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}

.book-card {
  padding-top: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

.book-text {
  padding: 0.5rem;
}

.read-button {
  background-color: cadetblue;
}

.read-button:hover {
  background-color: darkred;
}

.not-read-button {
  background-color: firebrick;
}

.not-read-button:hover {
  background-color: rgb(87, 144, 146);
}
