:root {
  --primary: rgb(50, 120, 210);
  --secondary: rgb(146, 138, 144);
  --success: rgb(50, 190, 100);
  --warning: rgb(254, 192, 45);
  --danger: rgb(198, 16, 63);
  --info: rgb(117, 152, 193);
  --dark: rgb(50, 60, 60);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: rgb(68, 68, 68);
  font-size: 1.3125rem;
  line-height: 1.5;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  margin-top: 0;
  font-weight: 800;
  line-height: 1.5;
}

p {
  margin-top: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2em auto;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}

input {
  width: 75%;
  display: block;
  margin: 15px auto;
}

img {
  max-width: 100%;
  width: 130px;
}

.button {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 12px;
}

.button:hover {
  opacity: 0.8;
}

.button + .button {
  margin-left: 10px;
}

#addBookButton {
  margin: 0 auto;
}

#addBookButton,
#submitButton {
  background-color: var(--primary);
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid white;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
}

.book-card:hover {
  box-shadow: 0 8px 14px 0 rgba(255, 255, 255, 0.2);
}

.book-title {
  margin-top: 0;
}

.read-button,
.not-read-button:hover {
  background-color: var(--success);
}

.not-read-button,
.read-button:hover {
  background-color: var(--secondary);
}

.deleteButton {
  background-color: var(--danger);
}

@media (min-width: 750px) {
  .books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
