@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --primary: rgb(50, 120, 210);
  --secondary: rgb(146, 138, 144);
  --success: rgb(50, 190, 100);
  --warning: rgb(254, 192, 45);
  --danger: rgb(198, 16, 63);
  --info: rgb(117, 152, 193);
  --dark: rgb(50, 60, 60);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.5;
}

a {
  color: rgb(39, 128, 204);
}

p {
  margin-top: 0;
  font-size: 1.3125rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2em auto;
}

input {
  padding: 6px 12px;
  border-radius: 4px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.overflow-hidden {
  overflow-y: hidden;
}

.modal-content {
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}

input {
  width: 75%;
  display: block;
  margin: 15px auto;
}

img {
  max-width: 100%;
  width: 130px;
}

.button {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 12px;
}

.button:hover {
  opacity: 0.8;
}

.button + .button {
  margin-left: 10px;
}

.button--danger {
  color: #fff;
  background-color: var(--danger);
}

#addBookButton {
  margin: 0 auto;
}

#addBookButton,
#submitButton {
  background-color: var(--primary);
}

.table {
  width: 100%;
  border: none;
  border-spacing: 0;
}

.table-heading {
  letter-spacing: 1;
  font-size: 1.1rem;
}

.table th,
.table td {
  padding: 1.25rem;
}

.table th {
  border-bottom: 2px solid black;
}

.table td {
  border-bottom: 1px solid var(--secondary);
}

.book-title {
  margin-top: 0;
}

.read-button,
.not-read-button:hover {
  background-color: var(--success);
}

.not-read-button,
.read-button:hover {
  background-color: var(--secondary);
}

.deleteButton {
  background-color: var(--danger);
}

@media (min-width: 750px) {
}
